
#playerOneContainer{
    border-style: solid;
    border-color: black;
}

#playerTwoContainer{
    border-style: solid;
    border-color: black;
}

#gameStatus {
    text-align: center;
}

#gameOverStatus {
    text-align: center;
}